[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
autopep8 = "*"
django-extensions = "*"
jupyter = "*"
awsebcli = "*"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"
